# Dependencies
node_modules
/node_modules
/node_modules/
jspm_packages
pnpm-lock.yaml
package-lock.json

# Production Build Outputs
dist
/dist
/dist/
dist-ssr
build

# Environment Secrets & Local Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs & Editor Configuration
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
.stylelintcache
